*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MicrosoftYaHei";
}

#app {
  width: 100%;
  height: 100vh;
}

// 修改滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 3px;
}
